<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>slice01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,947},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>slice02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,980},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{336,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{336,112}}</string>
				<key>sourceSize</key>
				<string>{336,112}</string>
			</dict>

			<key>slice04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,871},{74,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,48}}</string>
				<key>sourceSize</key>
				<string>{74,48}</string>
			</dict>

			<key>slice05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>slice06_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>slice07_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,912},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice08_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,731},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice09_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,668},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,689},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice11_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{196,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,62}}</string>
				<key>sourceSize</key>
				<string>{196,62}</string>
			</dict>

			<key>slice12_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,75},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice13_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,54}}</string>
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>

			<key>slice14_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,972},{22,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,14}}</string>
				<key>sourceSize</key>
				<string>{22,14}</string>
			</dict>

			<key>slice15_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,808},{54,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,14}}</string>
				<key>sourceSize</key>
				<string>{54,14}</string>
			</dict>

			<key>slice16_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,992},{38,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,14}}</string>
				<key>sourceSize</key>
				<string>{38,14}</string>
			</dict>

			<key>slice17_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,811},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice18_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,855},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>

			<key>slice19_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,992},{42,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,18}}</string>
				<key>sourceSize</key>
				<string>{42,18}</string>
			</dict>

			<key>slice20_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,74},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>slice21_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,848},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>

			<key>slice22_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,992},{42,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,18}}</string>
				<key>sourceSize</key>
				<string>{42,18}</string>
			</dict>

			<key>slice23_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,871},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,48}}</string>
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>

			<key>slice24_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>slice25_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,626},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice26_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,980},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice27_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,0},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice28_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,774},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice29_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,37},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice30_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,663},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice31_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,83},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>slice32_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,737},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice33_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,700},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>slice34_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,920},{116,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,70}}</string>
				<key>sourceSize</key>
				<string>{116,70}</string>
			</dict>

			<key>slice35_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{116,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,70}}</string>
				<key>sourceSize</key>
				<string>{116,70}</string>
			</dict>

			<key>slice36_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,50},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>slice37_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,920},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice38_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,947},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>slice39_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,626},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice40_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{288,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,512}}</string>
				<key>sourceSize</key>
				<string>{288,512}</string>
			</dict>

			<key>slice41_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,947},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>slice42_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,113},{288,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,512}}</string>
				<key>sourceSize</key>
				<string>{288,512}</string>
			</dict>

			<key>slice43_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{238,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,126}}</string>
				<key>sourceSize</key>
				<string>{238,126}</string>
			</dict>

			<key>slice44_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,50},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice45_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,25},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice46_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,83},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>slice47_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,647},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice48_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,912},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice49_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,927},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice50_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,890},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice51_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,941},{6,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,14}}</string>
				<key>sourceSize</key>
				<string>{6,14}</string>
			</dict>

			<key>slice52_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,972},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice53_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,875},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice54_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,995},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice55_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,844},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>

			<key>slice56_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,798},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>

			<key>slice57_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,947},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice58_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,25},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice59_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,875},{16,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,36}}</string>
				<key>sourceSize</key>
				<string>{16,36}</string>
			</dict>

			<key>slice60_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,30},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice61_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,15},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice62_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>slice63_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>slice64_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,997},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice65_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>slice66_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice67_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>slice68_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,947},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice69_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>slice70_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,0},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>slice71_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,823},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>slice72_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,753},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>slice73_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1007},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,14}}</string>
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>

			<key>slice74_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,89},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice75_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,710},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>slice76_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,823},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,20}}</string>
				<key>sourceSize</key>
				<string>{10,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>