<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,0},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,875},{16,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,36}}</string>
				<key>sourceSize</key>
				<string>{16,36}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,811},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,626},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,663},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,980},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,700},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,737},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,37},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,774},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,36}}</string>
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>

			<key>arow.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,95},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,14}}</string>
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>

			<key>b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,947},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,25},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,997},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b21.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,0},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b22.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,972},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b23.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,75},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b31.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b32.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,25},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b33.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,50},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,947},{34,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,24}}</string>
				<key>sourceSize</key>
				<string>{34,24}</string>
			</dict>

			<key>b_icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,753},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>b_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,947},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>b_icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,947},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>b_icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,823},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>bg_evening.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{288,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,512}}</string>
				<key>sourceSize</key>
				<string>{288,512}</string>
			</dict>

			<key>bg_night.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,113},{288,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,512}}</string>
				<key>sourceSize</key>
				<string>{288,512}</string>
			</dict>

			<key>cl_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,947},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>cl_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,50},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>cpr_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,808},{54,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,14}}</string>
				<key>sourceSize</key>
				<string>{54,14}</string>
			</dict>

			<key>cpr_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,972},{22,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,14}}</string>
				<key>sourceSize</key>
				<string>{22,14}</string>
			</dict>

			<key>cpr_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,992},{38,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,14}}</string>
				<key>sourceSize</key>
				<string>{38,14}</string>
			</dict>

			<key>dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{238,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,126}}</string>
				<key>sourceSize</key>
				<string>{238,126}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{204,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,54}}</string>
				<key>sourceSize</key>
				<string>{204,54}</string>
			</dict>

			<key>ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{336,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{336,112}}</string>
				<key>sourceSize</key>
				<string>{336,112}</string>
			</dict>

			<key>l0.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,647},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,834},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,20}}</string>
				<key>sourceSize</key>
				<string>{10,20}</string>
			</dict>

			<key>l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,74},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l3.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,920},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l4.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,626},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l5.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,912},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l6.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,668},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l7.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,689},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l8.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,710},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>l9.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,731},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>ll0.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,912},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,941},{6,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,14}}</string>
				<key>sourceSize</key>
				<string>{6,14}</string>
			</dict>

			<key>ll2.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,927},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll3.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,980},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll4.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,875},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll5.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,890},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll6.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,995},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll7.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,15},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll8.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>ll9.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,30},{12,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,14}}</string>
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>

			<key>menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>new.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1007},{32,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,14}}</string>
				<key>sourceSize</key>
				<string>{32,14}</string>
			</dict>

			<key>ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>pause1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,83},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>pause2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,83},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>pipe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>pipe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>pipe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>pipe4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,626},{52,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,320}}</string>
				<key>sourceSize</key>
				<string>{52,320}</string>
			</dict>

			<key>play_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{116,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,70}}</string>
				<key>sourceSize</key>
				<string>{116,70}</string>
			</dict>

			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,823},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>

			<key>rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,920},{116,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,70}}</string>
				<key>sourceSize</key>
				<string>{116,70}</string>
			</dict>

			<key>ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{196,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,62}}</string>
				<key>sourceSize</key>
				<string>{196,62}</string>
			</dict>

			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,991},{80,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,28}}</string>
				<key>sourceSize</key>
				<string>{80,28}</string>
			</dict>

			<key>slice04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,871},{74,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,48}}</string>
				<key>sourceSize</key>
				<string>{74,48}</string>
			</dict>

			<key>start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,798},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,6}}</string>
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>

			<key>start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,855},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>

			<key>tap_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,992},{42,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,18}}</string>
				<key>sourceSize</key>
				<string>{42,18}</string>
			</dict>

			<key>tap_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,992},{42,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,18}}</string>
				<key>sourceSize</key>
				<string>{42,18}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,871},{178,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,48}}</string>
				<key>sourceSize</key>
				<string>{178,48}</string>
			</dict>

			<key>toe.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,848},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>flappy.png</string>
			</dict>
		</dict>
</plist>